In [3]:
import pandas as pd
df = pd.read_csv('drinks.txt')

# TESTES!!!!!!!!!!!!!!

In [ ]:
df
s = pd.Series(['Teste', 1, 3])

In [ ]:
print(s[0])
print(s.values)

In [ ]:
s_1= pd.Series([1,2,3,4,5])

In [ ]:
print(s[2])

In [ ]:
series_teste = pd.Series([df, s, s_1], index = ['data_frame', 'serie', 'serie_1'])

In [ ]:
print(series_teste[1])
print('#'*30)
#print(series_teste['data_frame'])
print(series_teste['serie'])
print(series_teste['serie_1'])

In [ ]:
series_mes = pd.Series([15,20,12,16,10,11,12,15,9,10,12,17], index = ['jan','fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out','nov', 'dez'])

# Acessando umas "serie"
é possivel fatiar as series

In [ ]:
print(series_mes['jan'])
print('#'*30)
print(series_mes[:6])

In [ ]:
print(series_mes.mean()) #média
print(series_mes.std())  #desvio padrão
print(series_mes.max())  #maximo
print(series_mes.min())  #minimo
print('#'*30)
print(series_mes.describe()) #o método describe exibe diversas medidas estatísticas

In [ ]:
print(series_mes.sum()) #soma dos acidentes
print(series_mes[6:].sum()) #soma dos acidentes primeiros 6 meses
print(series_mes[:6].sum()) #soma dos acidentes últimos 6 meses
print(series_mes[6:].mean())#média dos acidentes primeiros 6 meses
res_busca_series_mes = series_mes.sum()
print(type(res_busca_series_mes))

# Dataframe

In [ ]:
u = pd.DataFrame({'Aluno' : ['Marina','Felipe','Cleyton','Isabel'],'Créditos cursados': [20,64,32,24],'Rendimento acadêmico' : [8.55,7.88,8.17,9.04],'Mês de nascimento' : ['Novembro','Setembro','Janeiro','Julho'], 'Curso': ['Computação','Estatística','Computação','Matemática']})

In [ ]:
print(u)
print('#'*50)
print(u.iloc[0]) #acessando indice(linha) de um dataframe
print('#'*50)
print(u['Rendimento acadêmico']) #acessando coluna de um dataframe
print('#'*50)
print(u['Rendimento acadêmico'].mean())
print('#'*50)
print(u.describe())

# Lendo arquivo CSV da WEB

In [4]:
df_web = pd.read_csv('https://raw.githubusercontent.com/fivethirtyeight/data/master/alcohol-consumption/drinks.csv')

In [5]:
df_web

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
...,...,...,...,...,...
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0
190,Yemen,6,0,0,0.1
191,Zambia,32,19,4,2.5
192,Zimbabwe,64,18,4,4.7

In [ ]:
df_web.head(6)

In [ ]:
df_web[df_web['country'] == 'Brazil'] #“me dê todos os dados, em que a coluna ‘country’ tem valor igual a ‘Brazil’”

In [ ]:
print(df_web['beer_servings']) #selecionando e imprimindo a coluna beer

In [ ]:
df_web[df_web['total_litres_of_pure_alcohol'] >= 12] #“me dê todos os dados onde o valor da coluna 'total_litres_of_pure_alcohol' é maior ou igual a 12.

In [ ]:
df_web[df_web['total_litres_of_pure_alcohol'] == 0].head()

In [6]:
df_web.sort_values(by='wine_servings', ascending = False).head() #ordenando pela coluna escolhida

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4

In [ ]:
france = df_web[df_web['country'] == 'France']
print(france.values[0])
print(france.values[0][2])
print(france['spirit_servings'].values)